.img-left{
    width: 63%;
    height: 100vh;
    overflow: hidden;
    float: left;
    background: white url(../img/img1.png) no-repeat center;
    background-size: cover;
  }
  
  .content-Logo{
    display: flex;
    position: relative;
      bottom: 75px;
  }
  
  .logo{
    width: 109.34px;
    height: 59.98px;
  }
  
  .tex-Logo{
    width: 126px;
  }
  
  /* se ajusto los pixeles del top por que quedaban por fuera de la pantalla */
  
  .img-left h1{
    position: absolute;
    width: 597px;
    height: 94px;
    left: 153px;
    top: 443px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    align-items: center;
    color: #FFFFFF;
  }
  .img-left h1 span{  
    font-weight: bold;
  }
  .img-left h3{
    position: absolute;
    width: 512px;
    height: 38px;
    left: 158px;
    top: 570px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  
  .form-Right{
    width: 37%;
    height: 100%;
    margin: 0;
    float: left;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  .form-Right form{
    height: 100vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-Right form > input{
    width: 100%;  
    font-size: 1.2em;
    padding: 0 15px;
    border: 1px solid #D2D2D2;
    border-radius: 26px;
  }
  
  :focus:not(:focus-visible) {
    outline: none;
  }
  
  
  ::placeholder {
    color: #989898;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }
  .form-Right label{
    width: 100%;  
    margin: 20px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
  }
  
  .check{
    width: 100%;
    margin: 20px 0;
  }
  
  .form-Right input[type="submit"]{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    gap: 10px;
    background: #3737EC;
    border-radius: 26px;
    color: #FFFFFF;
    border: none;
  }
  
  .container-rescue{
    width: 100%;
  }
  
  .container-rescue a{
    color: #989898;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 16px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  @media(max-width:444px) {
    .container-rescue a{
      white-space:normal ;
      
    }
  }
  
  @media(max-width:768px) {
    .img-left{
      width: 100%;
    }
    .form-Right{
      position: absolute;
      background: transparent;
      justify-content: center;
      display: flex;
      width: 100%;
    }
    .form-Right form{
      width: 70%;
      padding: o 1em;
    }
    .img-left h1{
      display:none ;
    }
    .img-left h3{
      display:none ;
    }
    .container-rescue a{
      color: white;
      font-size: 14px;
    }
    
  }
  
  @media(max-width:950px) {
    .img-left h1{
      left: 30px;
    }
    .img-left h3{
      left: 40px;
    }
    
  }