@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  font-family: "Roboto";
}

.img-left{
  width: 70%;
  height: 100vh;
  overflow: hidden;
  float: left;
  background: white url(./img/img1.png) no-repeat center;
  background-size: cover;
}


/* se ajusto los pixeles del top por que quedaban por fuera de la pantalla */

.img-left h1{
  position: absolute;
  width: 597px;
  height: 94px;
  left: 153px;
  top: 452px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  align-items: center;
  color: #FFFFFF;
}
.img-left h3{
  position: absolute;
  width: 512px;
  height: 38px;
  left: 158px;
  top: 583px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.form-Right{
  width: 30%;
  height: 100%;
  margin: 0;
  float: left;
  background-color: white;
  display: flex;
  justify-content: center;
}

.form-Right form{
  height: 100vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-Right form > input{
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}

.form-Right label{
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}

.check{
  width: 100%;
  margin: 20px 0;
}

.form-Right input[type="submit"]{
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px 30px;
}

@media(max-width:768px) {
  .img-left{
    width: 100%;
  }
  .form-Right{
    position: absolute;
    background: transparent;
    justify-content: center;
    display: flex;
    width: 100%;
  }
  .form-Right form{
    width: 70%;
    padding: o 1em;
  }
}